* {
    background-color: rgb(142, 36, 134);
}

h1  {
    font-family: 'Amatic SC', cursive;
    color: rgb(235, 216, 216);
    font-size: 7vw;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    }

img {
    width: 25%;
    margin-left: 32.5%;
    margin-right: 32.5%;
}

h2  {
        font-family: trebuchet MS; Arial; Helvetica;
        color: rgb(235, 216, 216);
        font-size: 2vw;
        text-align: center;
        margin-top: 80px;
        margin-bottom: 15px;
}

h3  {
    font-family: trebuchet MS; Arial; Helvetica;
    color: rgb(235, 216, 216);
    font-size: 2vw;
    text-align: left;
    margin-top: 80px;
    margin-bottom: 15px;
}

ul  {
            font-family: Arial, Helvetica, sans-serif;
            color: rgb(206, 206, 206);
            list-style-image: url ("images/salmoncookielogoT.png");
            font-size: 2vw;
            text-align: center;
            list-style: decimal inside none;
            margin-top: 5px;
            margin-bottom: 150px;
}

ol  {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 206, 206);
    list-style-type: decimal;
    font-size: 2vw;
    text-align: left;
    margin-top: 5px;
    margin-bottom: 150px;
}

li {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 206, 206);
    font-size: 1.5vw;
    text-align: left;
    margin-top: 7px;
    margin-bottom: 15px;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 206, 206);
    font-size: 2vw;
    text-align: center;
    list-style: decimal inside none;
    margin-top: 5px;
    margin-bottom: 150px;
}

navbar {
    width:950px;
    min-height: 50px;
    float: center;
    display: table;
    margin: 20px auto;
    list-style-type: circle;
    background: rgb(220, 144, 144);
}

table {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(206, 206, 206);
    font-size: 2vw;
    text-align: left;
    vertical-align: 25%;
    padding: 20px;
    border-collapse: collapse;
    border-right: 2px 0;
    list-style: decimal inside none;
    border: 1px solid black;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 150px;
    background-color: rgb(142, 36, 134);;
}

th {
    border: solid;
    width: auto;
    height: auto;
    border: 1px solid black;
}

td {
    border: solid;
    width: auto;
    height: auto;
    border: 1px solid black;
}


table thead:nth-child(even) {
    background-color: antiquewhite;
}



fieldset {
    float: center;
    border: 1px solid black;
    border-collapse: collapse;
    background: rgb(230, 173, 173);
    color: color: rgb(206, 206, 206);
    margin-bottom: 90px;
}

legend {
    float: center;
    border: 1px solid black;
    border-collapse: collapse;
    width: 100%;
    height:100%;
    background: rgb(220, 144, 144);
    color: color: rgb(206, 206, 206);
}

label {
    float: center;
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
    font-size: 65%;
    width: 30%;
    height:25%;
    background: rgb(220, 144, 144);
    color: color: rgb(206, 206, 206);
}

input {
    float: center;
    border: 1px solid black;
    border-collapse: collapse;
    width: 15%;
    height:40%;
    background: rgb(249, 242, 242);
    color: color: rgb(206, 206, 206);
}


button {
    border: none;
    padding: 10px 30px;
    background: #000;
    color: rgb(171, 100, 100);
    border-radius: 3px;
    font-size: 18px;
    margin-top: 10px;
    transition: 350ms;
    cursor: pointer;
}

button:hover {
    background: rgb(77, 235, 161);
    box-shadow: #000, 2px;
}