* {
    background-color: rgb(142, 36, 134);
}

h1  {
    font-family: 'Amatic SC', cursive;
    color: rgb(235, 216, 216);
    font-size: 7vw;
    text-align: center;
    margin-top: 5px;
    margin-bottom: 5px;
    }

img {
    width: 35%;
    margin-left: 32.5%;
    margin-right: 32.5%;
}

 h2  {
        font-family: trebuchet MS; Arial; Helvetica;
        color: rgb(235, 216, 216);
        font-size: 4vw;
        text-align: center;
        margin-top: 10px;
        margin-bottom: 15px;
}

ul  {
            font-family: trebuchet MS; Arial; Helvetica;
            color: rgb(206, 206, 206);
            font-size: 2vw;
            text-align: center;
            list-style: decimal inside none;
            margin-top: 5px;
            margin-bottom: 150px;
}